<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Mr+Dafoe" rel="stylesheet">
      <title>Style Blog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class ="drop-down">
      <img src="//cdn.shopify.com/s/files/1/0094/2252/t/44/assets/icon-hamburger.svg?13828199814961171024">
</div>
  </head>

 <body>
    <% if notice %>
    <%= notice %>
      <% end %>
      <% if alert %>
      <%= alert %>
      <% end %>

 <header><a id="homelink" href="/posts"> The Style Blog </a>

  <!-- <div class= "nav">
 <a href="#">About</a>
 <a href="#">Contact</a>
 <a href="#">Watches</a>
 </div>
</header> -->

   <% if notice %>
<p class="notice"><%= notice %></p>
   <% elsif alert %>

   <p class="alert"><%= alert %></p>
   <% end %>

<main>
  <div class="sidebar-one">
  <h2>NEWSLETTER</h2>
  <% if cookies[:saved_lead] %>
      Thanks for signing up!
      <% else %>
  <%= form_for Email.new do |f| %>
    <%= f.email_field :email, placeholder: "Email" %>
    <%= f.submit %>
    <% end %>
    <% end %>
  </div>
  <%= yield %>
</main>

<div class="footer">
 hello
</div>
</body>


</html>
